<div class='wrapper'>
  <div class='side-bar'>
    <%= render 'side_bar' %>
  </div>
  <div class='main-screen'>
    <div class='meeting-title'>
      議事録編集
    </div>
    <%= render partial: "meeting_form", locals: { meeting: @meeting, this_year: @this_year } %>
  </div>
</div>