<div class='wrapper'>
  <div class='side-bar'>
    <%= render 'side_bar' %>
  </div>
  <div class='main-screen'>
    <div class='upper-index'>
      <div class='index-title'>
        <%= current_user.nickname %>さんが作成した議事録
      </div>
      <div class='meetings'>
        <%= render partial: "meeting_list", locals: { meetings: @my_meetings } %>
      </div>
    </div>
    <div class='middle-index'>
      <div class='index-title'>
        閲覧できる議事録
      </div>
      <div class='meetings'>
        <%= render partial: "meeting_list", locals: { meetings: @permitted_meetings } %>
      </div>
    </div>
    <div class='lower-index'>
      <div class='index-title'>
        文字起こしデータ
      </div>

    </div>
  </div>
</div>
